<div class="center-block" align="center">
<div align="center" style="max-width: 400px;margin-top:30px;">
<form action="{{ SUBDIR }}passwd_recovery/step1" method="post" name="passwd_change_form">

<input type="hidden" name="passwd_recovery" value="1">
<input type="hidden" name="CSRF_Token" value="{{ get_csrf_token() }}">

Укажите почту, с который Вы регистрировались на сайте, и мы вышлем на неё инструкцию по восстановлению пароля.

<input type="edit" name="email" class="form-control" placeholder="Ваша почта" required autofocus>
<br />
<input type="submit" class="btn btn-primary" value="   Отправить письмо   ">

</form>
</div>
</div>