/nbproject/
/.vscode/
/*.code-workspace

/composer.phar
/composer.lock

/dump.cmd
/*.html
/*.sql
/*.tpl

/src/
/var/
/templates/

*.local.php
*Local.php
/admin/nav.php
/favicon.png
/sitemap.xml
/include/dompdf/

