/nbproject/
/.vscode/
/*.code-workspace

/composer.phar
/composer.lock

/dump.cmd
/*.html
/*.sql
/*.tpl

/src/
/var/

*.local.*
*Local.php
/admin/nav.php
/favicon.png
/sitemap.xml
/include/dompdf/


/node_modules/

