/nbproject/
/.vscode/
/*.code-workspace

composer.phar
/composer.lock
/phpunit.xml

/dump.cmd
/*.html
/*.sql

/src/
/vendor/
/var/
/templates/

*.local.php
*Local.php
/bannners.php
/include/global.php
/admin/nav.php
/main.tpl
/favicon.png
/sitemap.xml
/include/dompdf/

