<div class="article_content">{{ content }}</div>
{% if author|length > 0 %}
    <div class="article_author">Автор: {{ author }}</div>
{% endif %}
<div class="article_date">Дата: {{ date_add }}</div>
<div class="separator"></div>
