* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #ffgg33;
}


#inner-wrapper {
    background-color: #fff;
}

ul#menu-left {
    display: block;
    padding-left: -20px;
    list-style-type: none;
    list-style-image: none;
    margin: 0px;
    padding-left: 0px;
}
#menu-left li:hover {
    background-color: #eee  ;
}
#menu-left a {
    padding: 15px 0px;
    text-decoration: none;
}
.navbar-default {
    border: none;
}
ul#menu-left li { 
    margin-left: 20px;
    padding: 5px 0px;
}

ul#menu-left li:first-child { 
    background-color: yellow;
    margin: 0;
}
/* 
===========================================================================

   CONTENT

===========================================================================
*/

#content {
    background-color: white;
}

div.nav_str{
    margin-top: 15px;
}
#content .nav_home{
}
#content .nav_next{
    background: url(../images/design/arrow.png) 5px 3px  no-repeat;
    line-height: 15px;
    padding: 0px 0px 0px 18px;
}
#content table,tr,td {
    font-size: 10pt;
}
#content div.header {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18pt;
    line-height: 100%;
    font-weight: bold;
    color: #325376;
}
#content div.container {
    text-align: left;
}

/* 
===========================================================================

   HEADER

===========================================================================
*/

#main-header {
    height: 60px;
    width: 100%;
    background: url(../img/top_bg.png) repeat-x;
    margin: 10px 0px;
    text-align: center;
}


/* 
===========================================================================

   INDEX PAGE

===========================================================================
*/


@media (min-width: 1024px) {
    #service img.service-item-img {
        width: 360px;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 0.5s;
    }
    #service img.service-item-img:hover {
        width: 330px;
    }
}



/* 
===========================================================================

   REGULAR PAGES

===========================================================================
*/

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

#left-column {
    padding-left: 0px;
}