body {
    font-size: 10pt;
    color: #000044;
    font-family: Tahoma,sans-serif;
    background-color: #fff;
    margin-bottom: 40px;
}
form {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
input,select,textarea {
    font-size: 10pt;
    color: #000044;
    font-family: Tahoma,sans-serif;
    background-color: #eeeeff;
}
p {
    font-size: 10pt;
    font-family: Tahoma,sans-serif;
}

font.header {
    font-size: 10pt;
    font-family: Tahoma;
    font-weight: bold;
    text-align: CENTER;
    color: #FFFFFF;
}
font.title {
    font-size: 12pt;
    font-family: Tahoma;
    font-weight: bold;
    text-align: CENTER;
    color: #000000;
}
font.small {
    font-size: 8pt;
    font-family: Tahoma;
    font-weight: normal;
    text-align: CENTER;
}
TD,BLOCKQUOTE,FORM,SELECT,OPTION,INPUT,TEXTAREA {
    font-size: 10pt;
    font-family: Tahoma,sans-serif
}
table.admin {
    background-color: #7799ee;
}
table.admin td{
    padding: 3px;
}
tr.header {
    font-size: 10pt;
    font-family: Tahoma;
    font-weight: bold;
    text-align: CENTER;
}
tr.content {
    font-size: 10pt;
    font-family: Tahoma;
    text-align: left;
    background-color: #ffffff;
}
tr.content_gray {
    font-size: 10pt;
    font-family: Tahoma;
    text-align: left;
    background-color: #dddddd;
}
a:link {
    font-weight: bold;
    color: #1111aa;
    text-decoration: underline;
}
a:visited {
    font-weight: bold;
    color: #777788;
    text-decoration: underline;
}
a:active, a:hover {
    font-weight: bold;
    color: #CC0000;
    text-decoration: none
}

a.btn {
    text-decoration: none;
    margin-top: 5px;
}

img.margin {
    margin: 5px;
}

.normal-form {
    width: 800px;
}
.modal {
    text-align: center;
}

.modal-dialog {
    text-align: left;
    min-width: 300px;
}

.modal-fs .modal-dialog {
    width: 800px;
    max-width: 99%;
}

.modal-wide .modal-body {
    overflow-x: auto;
    overflow-y: auto;
}

.modal-title {
    font-weight: bold;
}

.modal-header {
    padding: 8px 16px;
}

div#request-result {
    margin-top: 10px;
}

table#nav td {
    text-align: center;
    padding-bottom: 5px;
}

.admin-menu-image {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.admin-menu-image span{
    width: 100%;
    display: block;
    text-align: center;
}

.admin-menu-item {
    width: 100%;
    text-align: center;
    padding-bottom: 3px;
    background-color: #eee;
}

.admin-content-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.admin-content {
    margin-top: 10px;
}

