<h3>Последние комментарии</h3>
<table width="800"  class="table table-striped table-responsive table-bordered normal-form" align="center">
<tr class="header" align="center">
        <td width="15%">Дата</td>
        <td width="15%">Раздел</td>
        <td width="40%">Сообщение</td>
        <td width="20%">Автор</td>
</tr>
{% for row in rows %}
        <tr class="content" align="left">
        <td><b>{{ row.date_add }}</b></td>
        <td align="center">{{ row.target_type }}</td>
        <td align="center">{{ row.content }}</td>
        <td align="center">{{ row.author }}</td>
        </tr>
{% endfor %}
</table>
