<center><h3>Статистика по дням</h3></center>
<table width=400  class="table table-striped table-responsive table-bordered normal-form" align="center">
<tr class=header align="center">
<td width=33%>День</td>
<td width=33%>Посетителей</td>
<td width=33%>Уникальных</td>
</tr>
{% for row in rows %}
        <tr class="content">
        <td align="center"><b>{{ row.day }}</b></td>
        <td align="center">{{ row.hits }}</td>
        <td align="center">{{ row.unique_hits }}</td>
        </tr>
{% endfor %}
</table>
